

/*cambia color del hover de mi barra*/
.skin-blue-light .sidebar-menu > li:hover > a, .skin-blue-light .sidebar-menu > li.active > a{
	background: #bfbebe;
}

/*estilo para boton csv*/
.boton-csv{
	background: #1ccd97;
	border-color: #16a479;
}

.boton-csv:hover{
	background: #27c192;
	border-color: #22a77e;
}
/*fin estilo boton csv*/

/*estilos para la tabla*/
.table th{
	background-color: #3c8dbc !important;
	color: white;
}



/*quitar el borde derecho a ultima columna
table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child{
	border-right: 1px solid #f4f4f4 !important;
}

/*modifica los bordes de la tabla
.table-bordered > tr , .table-bordered > tbody > tr , .table-bordered > tfoot > tr > th, .table-bordered> tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
	border-top:1px solid #acacac !important;
	border-right:1px solid #acacac !important;
}

/*aplica solo a borde derecho de thead
table.dataTable.table-condensed > thead > th{
	border-right:1px solid white !important;
}

/*quita el espacio del borde del thead de la tabla*/
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{
	border-bottom-width: 0px !important;
}

/*centra el titulo del th*/
/*table.dataTable th{
	text-align: center !important;
}*/



/*para alinear los registros en la tabla*/
table>tbody>tr>td{
	vertical-align: middle !important; 
}


/*para dispositivo moviles*/
@media only screen and (max-width: 768px) {
	div.dt-buttons.btn-group{
		margin-bottom: 15px;
	}

	/*muestro el icono
	.sidebar-toggle{
		display: inline !important;
	}*/
}



/*para alinear los botones con el cuadro de busqueda, solo cuando la vista esta en pc por ej (minima resolucion es 767px)*/
@media only screen and (min-width: 768px) {

	div.dt-buttons.btn-group{
		position: absolute !important;
	}

	/*oculto el icono
	.sidebar-toggle{
		display: none !important;
	}*/


	
}

#divSelectListar .btn-group.bootstrap-select.form-control{
 	width: 235px;
}


.btn-group-vertical > .btn, .btn-group > .btn{
	margin-right: 5px !important;
}

/*le pinta de color blanco los iconos porque admin lte cambia este valor*/
/*ini pintado de iconos*/
button.btn.btn-default.buttons-excel.buttons-html5{
	color: white !important;
	font-size: 18px;
}

button.btn.btn-default.buttons-csv.buttons-html5{
	color: white !important;
	font-size: 18px;
}

button.btn.btn-default.buttons-pdf.buttons-html5{
	color: white !important;
	font-size: 18px;
}

button.btn.btn-default.buttons-print{
	color: white !important;
	font-size: 18px;
}

/*fin pintado de iconos

/*agrega un espacio al select de mostrar tanta cantidad de registros*/
div.dataTables_wrapper div.dataTables_length label{
	margin-top: 15px !important;
	font-weight: bold !important;
}

/*agranda el select de mostrar tanta cantidad de registros*/
div.dataTables_wrapper div.dataTables_length select{
	width: 86px !important;
	font-size: 15px !important
}

div.dataTables_wrapper div.dataTables_length label{
	font-weight: bold !important;
}


/*filtrado de buscar estilo*/
div.dataTables_wrapper div.dataTables_filter{
	height: 39.7167px;
}



div.dataTables_wrapper div.dataTables_filter label{
	font-size: 15px !important;
	font-weight: bold !important;
	height: 100% !important;
}

div.dataTables_wrapper div.dataTables_filter input{
	width: 200px !important;
	font-size: 15px !important;
	height: 100% !important;
}



/*agrega espacio entre registro de tabla*/
table.dataTable td{
	padding:8px 18px !important;

}

/*corrige el error que no se ven algunos iconos de font awesome*/
.main-header .sidebar-toggle {
	font-family: 'Font Awesome\ 5 Free' !important;
    font-weight: 900 !important;
}


/*estilos de pagina*/

.botones{
	padding: 0px;
	float:right;
}

.boton{
	margin-left:10px;
	margin-top: 10px;
	margin-bottom: 50px;	
	float:right;
}

.texto{
	margin-bottom: 20px;
		
}

/*RECLAMOS*/
#cabecera #mostrando{
	display:block; margin:auto; text-align: center; font-size: 20px;margin-bottom: 1px;
}

#divSelectListar{
	padding:0px; padding-top:10px; padding-bottom:10px;
}

#divSelectListar #listar{
	float: left; width: 280px; font-size: 20px; height: 45px;
}

#divSelectListar #listarPorAnio{
	float: left; width: 130px; font-size: 20px; height: 45px;
}

@media only screen and (max-width: 440px) {

	#mostrando{
		font-size: 13px !important;
	}
}

/*PARPADEO*/
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.3; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.3; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.3; }
  100% { opacity: 1.0; }
}


/*para dispositivo moviles*/
@media only screen and (max-width: 825px) {
	.formMedio{
		width: 100%;
	}

}

/*para pc*/
@media only screen and (min-width: 825px) {

	.formMedio{
		width: 50%;
	}
}


.formSelect{
	margin-bottom: 20px;
}

.formBoton{
	float:rigth;
}


.encabezadoP{
	font-weight: 700;
	font-size: 25px;
}

.textArea{
	margin-top: 20px;
}


/*=============================================
=   CALENDARIO BORDE  =
=============================================*/

.fc-view-container{
	border-left: 1px solid #ddd;;
	border-right: 1px solid #ddd;;
}

/*=============================================
=   CALENDARIO CURSOR =
=============================================*/
.fc-content {
    cursor: pointer;
}

/*=============================================
=   BOTON IMPRIMR CALENDARIO COLORES =
=============================================*/
.fc-btnImprimir-button{
	color: #fff;
    background: #17a2b8;
    border-color: #17a2b8;
}

.fc-btnImprimir-button:hover{
	color: #fff;
    background: #2a7682;
    border-color: #2a7682;
}

/*=============================================
=   REGLAS PARA NO IMPRMIR ENCABEZADO Y PIE DE PAGINA =
=============================================*/
@media print {
	@page 
    {
        size:  auto;   /* auto es el valor inicial */
        margin: 10px;  /* afecta el margen en la configuración de impresión */
    }
}


/*=============================================
=   CORRECCION DE HOJA EN BLANCO EXTRA AL IMPRIMIR =
=============================================*/
@media print {
	html, body {
		border: 1px solid white;
		height: 99%;
		page-break-after: avoid;
		page-break-before: avoid;
	}
}












