@media print {


        .ocultar{
          display: none;
        }

        .firma{
           border-bottom:1px solid black;
           margin-top: 50px
        }

        .firma::after {
              
              content: "Firma Requirente";
            }

        /*pone la hoja en vertical*/
        @page {
            size: A4 portrait;
            margin: 0;  /* afecta el margen en la configuración de impresión */
        }

}