@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body{ 
    margin-top:20px; 
}

/*=============================================
=    PLANTILLA DE PASOS        =
=============================================*/


.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

/*=============================================
=   PAGINA        =
=============================================*/


/* ESTILOS PARA EL CALENDARIO*/
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    font-weight: normal;
}

.day{
  font-weight: bold;
  color: #2f6f38;
}

.datepicker,
.table-condensed {
  width: 400px;
}


/*FIN ESTILOS CALENDARIO*/

#contenedor{
  width: 100%;
}

#cargandoGif{
  margin: 0 auto; 
  width: 50%;
}

#cargandoGif img{
  width: 60px;
}

#contenidoForm,
#contenidoHeader{
  display: none;
}




#domicilio{
  text-transform:uppercase;
}

#reclamo,
#motivo{
  resize: none; 
  margin-bottom: 15px;
}

#resultadoPanel{
  display: none;
}

#divImgResultado{
  text-align: center; 
  margin: 0 auto; 
  width: 50%; 
  margin-top: 20px
}

#imagenResultado{
  width: 60px;
}

#resultadoTexto{
  font-size:30px; 
  text-align: center;
}

#nroReclamoTexto{
  font-size:25px; 
  text-align: center; 
  color: #1461ab;
}

#tomarNotaTexto{
  font-size:20px;
  text-align: center;
}

#fechaTexto{
  font-size:25px; 
  text-align: center; 
  color: #1461ab;
}

#horaTexto{
  font-size:25px;
  text-align: center;
  color: #1461ab;
}

#volver{
  text-align: center; 
  margin: 0 auto; 
  width: 50%; 
  margin-top: 20px;
}

#btnNext1, 
#btnNext2,
#btnConfirmar{
  margin-bottom: 40px;
}

#btnConfirmar{
  margin-top: 20px;
}

#fecha{
  background: #fff;
}

#btnNext3{
  clear: both;
}


  



/*=============================================
=       MEDIA QUERYS       =
=============================================*/


@media(min-width: 992px){
  #contenidoHeader{
    height: 100px;
    width: auto;
  }

  #logo{
    width:175px;
    display:block;
    float: left; 
    margin:auto;
    margin-bottom: 20px;
    margin-top: -20px;
    z-index: -1;
  }

  #tituloReclamos{
    font-size: 30px;
    width: 680px;
    display:block; 
    margin:auto;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;;
    font-weight: 600;
    color: #00968C;
    padding-top: 10px;
  }

  #subtituloReclamos{  
    font-size: 20px;
    width: 400px;
    display:block; 
    margin:auto;
    margin-top: -20px;
    font-family: 'Lato', sans-serif;;
    font-weight: 600;
    color: #686868;;
  }

  #tituloTurnos{
    font-size: 30px;
    width: 675px;
    display:block; 
    margin:auto;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;;
    font-weight: 600;
    color: #00968C;
    padding-top: 10px;
  }

  #subtituloTurnos{  
    font-size: 20px;
    width: 552px;
    display:block; 
    margin:auto;
    margin-top: -20px;
    font-family: 'Lato', sans-serif;;
    font-weight: 600;
    color: #686868;;
  }

  #izquierdaCalendario{
    float: left;
    width: 200px;
    margin-right: 50px;
  }

  #derechaCalendario{
    float: right;
  }

  
}

@media(max-width: 991PX) and (min-width: 768PX){
  #contenidoHeader{
    height: 180px;
    width: auto;
  }

  #logo{
    width:160px;
    display:block;
    float: none; 
    margin:auto;
    margin-bottom: -15px;
    margin-top: -20px;
  }

  #tituloReclamos{
    font-size: 28px;
    width: 645px;
    display:block; 
    margin:auto;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;;
    font-weight: 600;
    color: #00968C;
    padding-top: 10px;
  }

  #subtituloReclamos{  
    font-size: 18px;
    width: 334px;
    display:block; 
    margin:auto;
    margin-top: -20px;
    font-family: 'Lato', sans-serif;;
    font-weight: 600;
    color: #686868;;
  }

  #tituloTurnos{
    font-size: 28px;
    width: 599px;
    display:block; 
    margin:auto;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;;
    font-weight: 600;
    color: #00968C;
    padding-top: 10px;
  }

  #subtituloTurnos{  
    font-size: 18px;
    width: 449px;
    display:block; 
    margin:auto;
    margin-top: -20px;
    font-family: 'Lato', sans-serif;;
    font-weight: 600;
    color: #686868;;
  }

  #izquierdaCalendario{
    float: left;
    width: 200px;
    margin-right: 50px;
  }

  #derechaCalendario{
    float: right;
  }
}

@media(max-width: 767px) and (min-width: 576px){
  #contenidoHeader{
    height: 180px;
    width: auto;
  }

  #logo{
    width:160px;
    display:block;
    float: none; 
    margin:auto;
    margin-bottom: -15px;
    margin-top: -20px;
  }

  #tituloReclamos{
    font-size: 23px;
    width: 526px;
    display:block; 
    margin:auto;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;;
    font-weight: 600;
    color: #00968C;
    padding-top: 10px;
  }

  #subtituloReclamos{  
    font-size: 16px;
    width: 301px;
    display:block; 
    margin:auto;
    margin-top: -20px;
    font-family: 'Lato', sans-serif;;
    font-weight: 600;
    color: #686868;;
  }

  #tituloTurnos{
    font-size: 23px;
    width: 491px;
    display:block; 
    margin:auto;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;;
    font-weight: 600;
    color: #00968C;
    padding-top: 10px;
  }

  #subtituloTurnos{  
    font-size: 16px;
    width: 396px;
    display:block; 
    margin:auto;
    margin-top: -20px;
    font-family: 'Lato', sans-serif;;
    font-weight: 600;
    color: #686868;;
  }

  #izquierdaCalendario{
    float: left;
    width: 200px;
    margin-right: 50px;
  }

  #derechaCalendario{
    float: right;
  }

}

@media(max-width: 575px){
  #contenidoHeader{
    height: 190px;
    width: auto;
  }

  #logo{
    width:160px;
    display:block;
    float: none; 
    margin:auto;
    margin-bottom: -15px;
    margin-top: -20px;
  }

  #tituloReclamos{
    font-size: 19px;
    width: 225px;
    display:block; 
    margin:auto;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;;
    font-weight: 600;
    color: #00968C;
    padding-top: 10px;
  }

  #subtituloReclamos{  
    font-size: 15px;
    width: 222px;
    display:block; 
    margin:auto;
    margin-top: -14px;
    font-family: 'Lato', sans-serif;;
    font-weight: 600;
    color: #686868;;
  }

  #tituloTurnos{
    font-size: 19px;
    width: 225px;
    display:block; 
    margin:auto;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;;
    font-weight: 600;
    color: #00968C;
    padding-top: 10px;
  }

  #subtituloTurnos{  
    font-size: 15px;
    width: 222px;
    display:block; 
    margin:auto;
    margin-top: -14px;
    font-family: 'Lato', sans-serif;;
    font-weight: 600;
    color: #686868;;
  }

  #imagenResultado{
    width: 60px;
  }

  #resultadoTexto{
    font-size:25px; 
    text-align: center;
  }

  #nroReclamoTexto{
    font-size:20px; 
    text-align: center; 
    color: #1461ab;
  }

  #tomarNotaTexto{
    font-size:15px;
    text-align: center;
  }

  /*=============================================
  =  CALENDARIO    =
  =============================================*/

  #izquierdaCalendario{
    float: left;
    width: 200px;
    margin-right: 50px;
  }

  #derechaCalendario{
    float: left;
  }

  #volver{
    width: 100%;
  }

  .datepicker,
  .table-condensed {
    width: 270px;
  }
  
  /*OCULTAMOS EL TEXTO DE EL STEP RECORRIDO*/
  .stepwizard-step p{
    display: none;
  }

  #formulario{
    margin-top: 20px;
  }
  
}

/*=============================================
=     IMPRIMIR          =
=============================================*/
@media print {


        #volver{
          display: none;
        }


        /*pone la hoja en vertical*/
        @page {
            size: A4 portrait;
            margin: 0;  /* afecta el margen en la configuración de impresión */
        }

}